<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/pub/materialize.css">
    <script src="/pub/materialize.js"></script>
    <script src="/pub/axios.js"></script>

    <title>Hermes project</title>

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        
        .row .col {
            /* border: 1px solid lightgrey */
            
        }
        
        .footer-copyright {
            padding: 3px;
        }

        table tbody:hover {
            background: #efefef;
            
        }

        .demo-code {
            background: #efefef;
        }
    </style>
</head>
<body>
    <header>
        <style scoped>
        /***/
        .brand-logo img {
            width: 40px;
            position: relative;
            top: 2px;  
        }
    
        .brand-logo span {
            font-style: italic;
        }
        </style>
        
        <nav class="blue darken-2">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">
                    <img src="/pub/logo2.png" title="Homepage">
                    <span>Hermes</span>
                </a>
                <ul id="nav-mobile" class="right hide-on-small-only">
                    <li><a href="/dash/logout">Logout</a></li>
                  </ul>
            </div>
        </nav>
    </header>

<main class="">

<div class="row">
    <div class="col s12 m7">
        <p class="flow-text">Account information</p>

        <table >
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td><code><%- User.username %></code></td>
                    <td>
                        <!-- <div class="btn green">Change</div> -->
                    </td>
                </tr>                
            </tbody>
            <tbody>
                <tr>
                    <td>Password:</td>
                    <td colspan="2">
                        <div class="btn green modal-trigger" data-target="changePasswordModal">Change</div>
                    </td>
                </tr>                
            </tbody>
            <tbody>
                <tr>
                    <td>Created:</td>
                    <td colspan="2"><code><%- User.created_at %></code></td>
                </tr>                
            </tbody>
            <tbody>
                <tr>
                    <td>API key:</td>
                    <td style="word-wrap: anywhere;"><code ><%- apiKey %></code></td>
                    <td><a href="/dash/regenerate-api">Regenerate</a></td>
                </tr>                
            </tbody>
         </table>
    </div>

    <div class="col s12 m4 ">
        <p class="flow-text">Send demo SMS.</p>

        <div class="input-field ">
            <input id="from" type="text" class="validate" maxlength="11">
            <label for="from">From (can be anything, non numeric, max 11 chars)</label>
        </div>

        <div class="input-field">
            <input id="to" type="text" class="validate" maxlength="64">
            <label for="to">To. Receipt phone number (in international format)</label>
        </div>

        <div class="input-field">
            <textarea id="text" class="materialize-textarea" maxlength="160"></textarea>
            <label for="text">Text message. GSM-7 encoded. Max 160 chars. Multines supported.</label>
        </div>
        
        <center><div class="btn green darken-2 waves-effect waves-light" onclick="sendMessage()">Send</div></center>
    </div>
</div>

<div class="row">
    <div class="col s12 ">
        <p class="flow-text">API demo with cURL</p>

<div class="demo-code" style="word-wrap: anywhere;">
    
<code >curl -X POST \<br>
    &nbsp;&nbsp;--header "Content-Type: application/json" \<br>
    &nbsp;&nbsp;--data '{<br>
        &nbsp;&nbsp; &nbsp;&nbsp;"from": "User",<br>
        &nbsp;&nbsp; &nbsp;&nbsp;"to": "+13115552367",<br>
        &nbsp;&nbsp; &nbsp;&nbsp;"text": "Hello, world!"<br>
        &nbsp;&nbsp; }' \<br>
        &nbsp;&nbsp;<%- process.env.APP_URL %>/api/send/<%- apiKey %></code>
    </div>
</div>

<%- include('dash/changePasswordModal') %>
    
</main>


<%- include('footer') %>

<script>
    const _ = function(el){
        return document.getElementById(el)
    }

    const toast = function(m){
        M.toast({html:m})
    }

    const errors = <%- ( typeof errors === "undefined" ? "[]" : JSON.stringify(errors)) %>;
    errors.forEach(item=>toast(item.message ? item.message : item))

    const urlParams = new URLSearchParams(window.location.search);
    const errorsGET = JSON.parse(urlParams.get('errors'))
    if(errorsGET)
    errorsGET.forEach(item=>toast(item.message ? item.message : item))

    const clearFields = function(){
        _('from').value = ''
        _('to').value = ''
        _('text').value = ''

        M.textareaAutoResize(_('text'))
    }

    const sendMessage = function(){
        toast("sending message...")

        let from = _('from').value
        let to = _('to').value
        let text = _('text').value

        axios.post('/api/send/<%- apiKey %>', {
            from, to, text
        })
        .then(res=>{
            toast("message sent!")
            clearFields()
        })
        .catch(e=>{
            let r = e.response

            if(r.status === 422)
                r.data.errors.forEach(item=>toast(item.message ? item.message : item))
            else {
                toast("Internal error occurred. Try again later")
                console.log(r.data)
            }
        })
    }
</script>

</body>
</html>