<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./global/head') %>
    <%- include('./dash/head') %>
    
    <title>Hermes - Sent messages</title>

    <style>
        table {
            border: 1px solid lightgrey;
        }

        td {
            border: 1px solid lightgrey;
        }
    </style>
</head>
<body>
    <%- include('./dash/header') %>
    <%- include('./dash/sidenav') %>
<main>
    <div class="row">
        <div class="col s12">
            <p class="flow-text">Sent messages</p>
            
            <table>
                <thead>
                    <tr>
                        <form method="GET" action="/dash/admin/sent-messages">

                        <th>ID</th>
                        <th>User
                            <br>
                            <input type="text" class="browser-default" name="user" value="<%- user === undefined ? '':user %>">
                        </th>
                        <th>Sender
                            <br>
                            <input type="text" class="browser-default" name="sender" value="<%- sender === undefined ? '':sender %>">
                        </th>
                        <th>Receipt
                            <br>
                            <input type="text" class="browser-default" name="receipt" value="<%- receipt === undefined ? '':receipt %>">
                        </th>
                        <th>Text
                            <br>
                            <input type="text" class="browser-default" name="text" value="<%- text === undefined ? '':text %>">
                        </th>
                        <th>Created At
                            <br>
                            <button>Search</button>
                        </th>
                        </form>
                    </tr>
                </thead>


            <% SentMessages.forEach((U, i)=>{ %>

                <tbody >
                    <tr>
                        <td><%- U.id %></td>
                        <td><%- U.user ? U.user.username : "" %></td>
                        <td><%- U.sender %></td>
                        <td><%- U.receipt %></td>
                        <td><%- U.text %></td>
                        <td><%- U.created_at.toLocaleString()  %></td>
                    </tr>
                </tbody>

            <% }) %>
            </table>

            <br>
            <a class="btn waves-effect green"
                id="prevBTN"
                href=" "
                <%- page < 2 ? "disabled" : "" %>  ><<</a>
            <a class="btn waves-effect green"
                id="nextBTN"
                href=" "
                <%- MessagesCount <= page*nr ? "disabled" : "" %> >>></a>
            <br>
        </div>
    </div>

</main>
<%- include('./footer') %>

<script>
    <%- include('./global/util') %>
    <%- include('./global/errors') %>

    let baseURL = window.location.href
    let objBaseURL = new URL(baseURL)
    objBaseURL.searchParams.delete("page")

    function computeHREF(){
        return objBaseURL.searchParams.get('user') === null ?
            objBaseURL.href+"?" : objBaseURL.href+"&"
    }

    _('prevBTN').href= computeHREF() + "page=<%- page-1 %>"
    _('nextBTN').href= computeHREF() + "page=<%- page+1 %>"

</script>

</body>
</html>
